table img {
  width: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  margin: 10px 100px;
}

.tab-style {
  width: 200px;
  text-align: left;
}
